.javi-content-modal {
  background-color: rgba(0, 0, 0, 0.5);

  .modal-content {
    border: unset;
    font-family: monospace;
    color: white;
    background-color: transparent;
  }

  .modal-footer {
    justify-content: flex-start;
    align-content: flex-start;
  }

  .subtitle {
    font-weight: 900;
  }
}
