.javi-header {
  position: sticky;
  top: 0;

  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .javi-header-logo {
    background-color: #111111;
    color: white;
    font-family: monospace;
    font-size: 30px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  .javi-header-tabs {
    background-color: #111111;
    width: 80%;
    display: flex;
    align-items: end;
    justify-content: flex-end;
    padding-right: 20px;
  }

  .javi-header-tab {
    color: white;
    padding: 0px 5px 3px 5px;
    font-family: monospace;
    font-size: 13px;
    font-weight: 200;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      font-weight: 600;
    }
  }

  .active-tab {
    text-decoration: underline;
  }
}
