#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #111111;
}

.javi-category-tab {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
